form/Untitled Folder/all_event_xsd_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="events">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="seminar">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Event_Title" type="xs:string" />
              <xs:element name="Start_Time" type="xs:string" />
              <xs:element name="End_Time" type="xs:string" />
              <xs:element name="Location" type="xs:string" />
              <xs:element name="Speaker" type="xs:string" />
              <xs:element name="Speaker_Biography" type="xs:string" />
              <xs:element name="Speaker_Affiliation" type="xs:string" />
              <xs:element name="Organizer" type="xs:string" />
              <xs:element name="Organizer_Mail" type="xs:string" />
              <xs:element name="Approver" type="xs:string" />
              <xs:element name="Approver_Mail" type="xs:string" />
              <xs:element name="Abstract" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="sport">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Event_Title" type="xs:string" />
              <xs:element name="Sport_Club_Name" type="xs:string" />
              <xs:element name="Sport_Name" type="xs:string" />
              <xs:element name="Start_Date" type="xs:string" />
              <xs:element name="End_Date" type="xs:string" />
              <xs:element name="Start_Time" type="xs:string" />
              <xs:element name="End_Time" type="xs:time" />
              <xs:element name="Location" type="xs:string" />
              <xs:element name="Organizer" type="xs:string" />
              <xs:element name="Organizer_Mail" type="xs:string" />
              <xs:element name="Approver" type="xs:string" />
              <xs:element name="Approver_Mail" type="xs:string" />
              <xs:element name="Abstract" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="club">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="event_title" type="xs:string" />
              <xs:element name="club_name" type="xs:string" />
              <xs:element name="start_date" type="xs:string" />
              <xs:element name="end_date" type="xs:string" />
              <xs:element name="start_time" type="xs:time" />
              <xs:element name="end_time" type="xs:string" />
              <xs:element name="location" type="xs:string" />
              <xs:element name="organizer" type="xs:string" />
              <xs:element name="organizer_mail" type="xs:string" />
              <xs:element name="approver" type="xs:string" />
              <xs:element name="approver_mail" type="xs:string" />
              <xs:element name="abstract" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>